body{
    margin: 0px;
}
.head{
    margin: 0px;
}
span.text {
  margin: 5px 0px 0px 0px;
 }
 #main{                                 
 padding: 0px 0px 0px 0px ;
 }
 .second{padding:0px;}
 
 .content-two article p {
margin: 0px 0px 0px 0px;
}